@import 'variables';
@import 'global';


@mixin dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    @include dflex();
    padding: 1rem 2rem;
    .nav-logo{
        border: $border;
        padding:.8rem;
        font-size: 2rem;
        color: #fff;
        font-family: $ff-lora;
    }
    .nav-list{
        z-index: 99;
        background: #181719;
        // border: $border; //remove when done        
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: grid;
        place-items: center;
        transition: 0.6s;
        &.active{
            left: 0;
        }

        .nav-items{
            padding:1rem 0;    
            .nav-link{
                padding-bottom: 2px;
                color: #fff;
                font-size: 1.5rem;
                font-family: $ff-montserrat;
                &:hover{
                    font-weight: 600;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    .hamburger{
        z-index: 999;
        display: block;
        cursor: pointer;
        
        &.active .bar:nth-child(2){
            opacity: 0;
        }
        &.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        .bar{
            width: 20px;
            height: 3px;
            background: #fff;
            display: block;
            margin-bottom: .5rem;

        }
    }
}
.container{
    width: 90%;
    margin: 0 auto;
    
    .col1{
        .txt-content{
            padding: 5em 0em;
            text-align: start;
            .heading{
                font-size: 4rem;
                font-weight: 400;
            }
            p{
                width: 75%;
                font-weight: 400;
                font-family: $ff-montserrat;
                font-size: 1.6rem;
                padding: 2em 0;
                line-height: 1.5;
            }
            .read-more{
                @include dflex();
                justify-content:start;
                a{
                    font-size: 1.5rem;
                    color: #fff;
                    font-family: $ff-montserrat;
                }
                svg{
                    height: 18px;
                    margin-top: .25rem;
                    position: relative;
                    &:hover{
                        animation-name:move;
                        animation-duration: .5s;
                    }
                }
            }
        }
    }
    
    .col2{
        position: relative;
        img{
            width: 100%;
            
        }
        .avatar-card{
            background: #181719;
            width: 80%;
            height:30%;
            position: absolute;
            bottom: -20%;
            left:4%;
            padding: 1.5em 2em;
            box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.7);
            .avatar-info{
                @include dflex();
                justify-content: start;
                img{
                    width: 50px;
                    border-radius: 50%;
                }
                .avatar-name{
                    margin-left: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    font-family: $ff-montserrat;
                    
                    p{
                        font-size: 1.5rem;
                    }
                    span{
                        font-size: 1.2rem;
                        color: #828282;
                    }
                }
                
            }
            h2{
                width: 80%;
                padding: .6em 0;
                font-size: 2.2rem;
                font-weight: 500;
            }
        }
    }
}

@media (min-width:550px) {
    .container{
        .col2{
            position: relative;
            .avatar-card{
                position: absolute;
                width:40%;
                right:0;
            }
        }
    }
    
}


@media (min-width:720px) {
    .container{
        @include dflex();
        .navbar{
        @include dflex();
        max-width: 1288px;
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem 0rem;
        
        .nav-list{
            @include dflex();
            position:static;
            flex-direction: row;
            width: 48%;
            height: auto;

            .nav-items{
                padding: 0rem 1rem;
            }
    
        }
        .hamburger{
            display: none;
        }
    }
    .col2{
        position: relative;
        .avatar-card{
            position: absolute;
            right: 10%;
            bottom: -10%;
            width: 50%;

            h2{
                width: 100%;
            }           

        }
    }
}   
}